@model DemoMVC.Models.Emp

<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <h1>Emp Name = @Model.Name</h1>
     @*    <h2>Messages is =  @ViewData["message"]</h2>
   *@

    <h1>Messages is =  @ViewBag.message</h1>
    <h1>Book Title is = @ViewBag.mybook.Title</h1>
</body>
</html>