@model DemoMVC.Models.Emp
<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <h1>Welcome to MVC</h1>

        <h1>@Model.No</h1>
        <h1>@Model.Name</h1>
        <h1>@Model.Address</h1>
    </body>
</html>