@model List<DemoMVC.Models.Emp>

<html>
    <head>
        <title>Demo</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    
    </head>
    <body class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td>@emp.No</td>
                            <td>@emp.Name</td>
                            <td>@emp.Address</td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
    </body>
</html>